:root{
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #ffffff;
  --mainDark: #232528;
  --mainYellow: #ffa400;
  --ligthDark: #D3D3D3;
}

.text-blue{
  color: var(--mainBlue);
}

.text-bright{
  color: var(--lightBlue);
}

.scrollablediv{
  overflow: auto;
  max-height: 300px;
}
.header-text{
  padding-bottom: 0px !important;
}
